@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Roboto:wght@300;400;700&display=swap');
/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

/* helper classes */
.main-border {
	border:1px solid aqua;
}
.sub-border {
	border:1px dashed magenta;
}

body {
	box-sizing: border-box;
	margin:0;
	padding:0;
	height:100vh;
}
p {
	margin:0;
	padding:0;
}
img {
	margin:0;
	padding:0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.__main-hero {
		height: 100%;
		height: 660px;
	}
.__main-hero--img {
	background: url(../images/hero.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	max-width: 660px;
	}
	.title {
		color: #ffffff;
		text-align: center;
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
		font-size: 15px;
		padding: 40px 12.5px 20px 12.5px;
	}
	.headline p {
		color: #ffffff;
		font-weight: 700;
		font-size: 50px;
		text-align: center;
		font-family: 'Roboto', sans-serif;
	}
	.sub-headline {
		font-family: 'Roboto Slab', serif;
		color: #ffffff;
		font-size: 22px;
		font-weight: 300;
		text-align: center;
		padding-top: 20px;
	}
	.hero-form {
		padding: 10px 20px;
	}
	form {
		background-color: #ffffff;
		padding: 10px 20px;
		align-items: center;
		text-align: center;
	}
	.form-control{
		padding: 16px 24px;
	}
	.form-group {
		text-align: center;
	}
	.form-caption {
		padding: 20px 70px;
		font-size: 18px;
		color: #3e3e3e;
		font-family: 'Roboto Slab', serif;
	}
	.btn {
		align-items: center;
		text-align: center;
		padding: 16px 140px;
		font-size: 18px;
	}
	.small,
	.small {
		font-size: 70%;
		font-weight: 400;
	}
	small#emailHelp {
		padding-top: 10px;
	}
	.three-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.three-column .container {
		text-align: center;
		padding: 30px 20px 30px 20px;
		width: 80%;
	}
	.three-column-description {
		padding: 30px 0;
		width: 100%;
	}
	.three-column-description p {
		color: #494949;
	}
	.three-column-icons {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	img.icons {
		width: 100px;
		padding: 30px 0 10px 0;
	}
	p.icons-text {
		font-weight: 700;
		font-size: 20px;
		padding-top: 15px;
		font-family: 'Roboto', sans-serif;
	}
	.grey-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #F2F2F2;
		padding: 20px 20px;
	}
	.testimonial-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #ffffff;
		padding: 56px 50px;
		font-family: 'Roboto', sans-serif;
	}
	.testimonial-title {
		padding: 10px 0 60px 0;
	}
	.testimonial-title p {
		font-size: 22px;
		font-weight: 700;
		text-align: center;
	}
	.quote {
		text-align: center;
	}
	.quote-icon-div {
		padding-bottom: 10px;
	}
	.quote-icon {
		height: 25px;
		margin-bottom: 30px;
	}
	.testimonial {
		font-size: 18px;
		font-weight: 400;
		color: #494949;
		text-align: center;
		margin-bottom: 30px;
		font-family: 'Roboto Slab', serif;
	}
	.testimonial-name,
	.testimonial-detail {
		font-weight: 300;
		font-family: 'Roboto Slab', serif;
	}
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }